<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/adminpage">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/addcar">Addcar</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" routerLink="/viewcar">Viewcar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/search">Searchcar</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/adminviewbookcar">RentelHistory</a></li>
  </ul>
  <button class="float-right btn btn-light" (click)="logout()">LogOut</button>
</nav>
<form (ngSubmit)=onSubmit(f) #f="ngForm">
  <table class="table">
    <tr><td>Carname</td><td><input type="text" class="form-control" name="cname" ngModel></td></tr>
    <tr><td>Picture</td><td><input type="text" class="form-control" name="cpicture" ngModel></td></tr>
    <tr><td>Model</td><td><input type="text" class="form-control" name="cmodel" ngModel></td></tr>
    <tr><td>Rent</td><td><input type="text" class="form-control" name="crent" ngModel></td></tr>
    <tr><td>Fuel</td><td><input type="text" class="form-control" name="cfuel" ngModel></td></tr>
    
    <tr><td>Description</td><td><input type="text" name="cdesc" class="form-control" ngModel></td></tr>
    <tr><td><input type="reset" class="btn btn-danger" value="Clear"></td><td><input type="submit" class="btn btn-primary" value="Add car"></td></tr>
  </table>
</form>


 