<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/userhome">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/addcar">Addcar</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/viewcar">Viewcar</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/search">Searchcar</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/adminviewbookcar">RentelHistory</a></li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/vfeed">Feedback</a></li>
    </ul>
    <button class="float-right btn btn-light" (click)="logout()">LogOut</button>
  </nav>
 <div *ngFor="let data of mydata"> 

    <div class="row"></div>
    <div class="card-columns p-3">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
           
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">{{data.fname}}</h4>
                <p class="card-text">{{data.fmessage}}<p>
                
  
                </div>
              </div>
            </div>
          </div>
        </div>
        </div> 