<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <a class="nav-link" routerLink="/userhome">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/search1">Searchcar</a>
      </li>
      <li>
          <a class="nav-link" routerLink="/orderd">OrderDetails</a>
        </li>
      <li>
        <a class="nav-link" routerLink="/">Logout</a>
      </li>
    </ul>
    
    </nav>
  <table class="table">
      <tr><th>Id</th><th>CarModel</th></tr>
    
      <tr *ngFor="let data of mydata">
          <td>{{data.cadhar}}</td>
        <td>{{data.cmodel2}}</td>
       
    
    
    
      </tr>
    </table>